@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400&display=swap');
body {
    background-color: rgb(92, 16, 163);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0px;
    color: white;
}

/* .fullscreen {
    height: 100vh;
} */

/* main {} */

/* footer {} */

footer ul {
    list-style: none;
}

#center-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

#navlist {
    /* transform: translate(0, 235%); */
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.25em;
}

#navlist a {
    color: #ffffff;
    text-decoration: none;
}

#navlist ul {
    list-style: none;
}

#navlist li {
    margin: 10px 0px 10px 0px;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
}

.flex-container-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.flex-item {
    margin: 0% 5% 0% 5%;
}

#page-flex-container-row {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#sidebar-flex-item {
    width: 20%;
    background-color: rgb(49, 14, 95);
}

#main-flex-item {
    width: 80%;
    overflow: auto;
}

#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    height: 100vh;
}

#intro h1:first-of-type {
    font-size: 400%;
    margin: 0%;
}

#one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(57, 57, 139);
}

.one-flex-item {
margin-left: 10%;
margin-right: 10%;
}

#row-1 {
background-color: rgb(57, 57, 139);
}

#row-2 {
background-color: rgb(40, 40, 112);
}

#row-3 {
background-color: rgb(30, 30, 88);
}
.image {
    width: 30%;
    height: 30%;
    object-fit: cover;
}

.button {
    color: #ffffff;
    text-decoration: none;
    border-radius: 3em;
    border: 0;
    padding: 1% 3%;
    border: solid 1px !important;
    border-color: rgba(255, 255, 255, 0.15) !important;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 80%;
}

#two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
    padding-bottom: 3%;
    background-color: rgb(179, 45, 150);
}

#feature-overview {
    margin: 0% 5% 0% 5%;
}

#features {
background-color: rgba(255, 255, 255, 0.15);
border: solid 1px rgb(255, 255, 255);
border-radius: 0.25em;
margin: 0% 5% 0% 5%;
}

.feature-flex-items {
padding: 0% 5% 0% 5%;
}

.center-border {
    border-right: solid 1px rgb(255, 255, 255);
}

#three {
    height: 30vh;
    text-align: center;
    /* margin: 0% 5% 0% 5%; */
}

/* #icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

#three ul {
    list-style: none;
}