@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400&display=swap');

body {
    background-color: blueviolet;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0px;
    color: white;
}

.fullscreen {
    height: 100vh;
}

main {
    /* margin-left: 20%; */
}

footer {
    /* margin-left: 20%; */
}

#navlist {
    position:fixed;
    transform: translate(0, 300%);
}

#navlist a {
color: white;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
    background-color: aqua;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-item {
    background-color: rgb(26, 70, 9);
}

#page-flex-container-row {
    display: flex;
    flex-direction: row;
}

#sidebar-flex-item {
width: 20%;
background-color: blue;
position: inherit;
}

#main-flex-item {
width: 80%;
}